@use "../basic/globals.scss" as s;

.filter__extended-info-list-column-list-item-stars {
  @include s.d-flex($direction: row, $align: center);
  gap: 4px;
  &-star {
    width: 18px;
    height: 18px;
    fill: #ffe489;

    transition: fill 0.5s ease;
  }
}
