@use "../../basic/globals.scss" as s;

.hothome {
  padding: 0 8px 80px 12px;
  @include s.d-flex($direction: column);
  gap: 40px;
  &__title {
    @include s.d-flex($direction: column, $align: center);
    gap: 17px;
    h1 {
      @include s.d-flex($direction: column, $align: center);
      gap: 11px;

      font-weight: 700;
      font-size: 26px;
      letter-spacing: 0.02em;
      line-height: 1.3;
      text-transform: uppercase;
      text-align: center;
      color: s.$color__red;
      svg {
        width: 40px;
        height: 35px;
        fill: s.$color__red;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-align: center;
      line-height: 1.3;
      color: #888;
    }
  }
  &__slider {
    position: relative;
    &-buttons {
      width: 100%;
      position: absolute;
      top: 34%;
      @include s.d-flex($direction: row, $align: center);

      button {
        z-index: 2;
        @include s.d-flex($direction: row, $align: center, $justify: center);

        width: 48px;
        height: 48px;
        border-radius: 100%;
        border: none;

        background: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        svg {
          width: 32px;
          height: 32px;
          fill: #3e7739;
          opacity: 0.5;

          transition: opacity 0.5s ease;
        }
        &:hover {
          svg {
            opacity: 1;
          }
        }
      }
      &-prev {
        position: absolute;
        left: 10px;
      }
      &-next {
        transform: scaleX(-1);
        position: absolute;
        right: 10px;
      }
    }
    &-swiper {
      position: relative;
      width: 100%;
      overflow: hidden;
      &-item {
        @include s.d-flex($direction: column);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        background: s.$color__white;
        border-radius: 10px;
        margin-bottom: 11px;

        overflow: hidden;
        &-one {
          position: relative;
          max-height: 250px;
          img {
            width: 100%;
            max-height: 250px;
          }
          &-list {
            position: absolute;
            left: 14px;
            bottom: 14px;

            @include s.d-flex($direction: column, $align: flex-start);
            gap: 8px;

            &-item {
              padding: 6px 8px 7px 8px;
              @include s.d-flex($direction: row, $align: center);
              gap: 6px;

              background: #0000007e;
              border-radius: 5px / 9px;
              svg {
                width: 14px;
                height: 14px;
                fill: s.$color__white;
              }
              p {
                color: s.$color__white;
                font-weight: 400;
                font-size: 14px;
              }
            }
          }
        }
        &-two {
          padding: 16px 16px 22px 16px;
          position: relative;
          @include s.d-flex($direction: column);
          gap: 21px;

          &-info {
            @include s.d-flex(
              $direction: row,
              $align: center,
              $justify: space-between
            );
            &-name {
              font-weight: 400;
              font-size: 16px;
            }
            &-categories {
              svg {
                fill: #f5c213;
              }
            }
          }
          &-price {
            @include s.d-flex($direction: row, $align: end);
            gap: 8px;
            &-new {
              font-weight: 400;
              font-size: 16px;
              span {
                font-weight: 700;
                color: s.$color__black;
              }
            }
            &-old {
              font-weight: 400;
              font-size: 14px;
              text-decoration: line-through;
              color: #bfbfbf;
            }
          }
          &-flag {
            position: absolute;
            bottom: 10px;
            right: 0;
            div {
              position: relative;
              svg {
                width: 83px;
                height: 31px;
              }
              p {
                position: absolute;
                top: 5px;
                left: 24px;
                z-index: 2;
                font-weight: 700;
                font-size: 16px;
                color: s.$color__white;
              }
            }
          }
        }
      }
    }
  }
  &__link {
    margin: -11px auto 0 auto;
    @include s.d-flex($direction: row, $align: center);
    gap: 8px;

    font-weight: 400;
    font-size: 16px;
    color: #555;

    transition: color 0.5s ease;
    svg {
      width: 24px;
      height: 24px;
      fill: s.$color__primary;

      transition: fill 0.5s ease;
    }
    &:hover {
      color: s.$color__text;
      svg {
        fill: s.$color__red;
      }
    }
  }
  @media (min-width: s.$media_768) {
    // padding: 0 81px 100px 93px;
    padding: 0 30px 80px 30px;
    &__title {
      h1 {
        // margin-right: 18px;
        @include s.d-flex($direction: row, $align: center);
        gap: 8px;

        letter-spacing: 0.06em;
        line-height: 1;
      }
      p {
        line-height: 1;
      }
    }
    &__slider {
      &-buttons {
        top: 50%;

        button {
          background: #3e773920;
          box-shadow: none;
        }
        &-prev {
          // left: -83px;
          left: 10px;
        }
        &-next {
          // right: -71px;
          right: 10px;
        }
      }
    }
    &__link {
      margin: 1px auto 0 auto;
    }
  }
  @media (min-width: s.$media_1366) {
    padding: 0 81px 100px 93px;
    &__title {
      h1 {
        margin-right: 18px;
      }
    }
    &__slider {
      &-buttons {
        &-prev {
          left: -83px;
        }
        &-next {
          right: -71px;
        }
      }
    }
    &__link {
      margin: 2px auto 0 auto;
    }
  }
  // @media (min-width: s.$media_1440) {
  // }
  // @media (min-width: s.$media_1920) {
  // }
}
