@use "../../basic/globals.scss" as s;

.info-hotel {
  @include s.d-flex($direction: column);
  gap: 70px;
}

.info-hotel__wrapper {
  position: relative;
  // padding: 0 97px 0 99px;
  padding: 0 23px 0 17px;
  &-div {
    // @include s.d-flex($direction: row, $justify: space-between);
    @include s.d-flex($direction: column);
    gap: 30px;
    // gap: none;
  }
  &-absolute {
    position: absolute;
    top: -126px;

    // padding: 17px 14px 13px 19px;
    padding: 8px 14px 13px 14px;
    border-radius: 8px;
    background: s.$color__white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    @include s.d-flex($direction: column);
    // gap: 6px;
    gap: 9px;
    &-name {
      // @include s.d-flex($direction: row);
      @include s.d-flex($direction: column);
      // gap: 13px;
      gap: 6px;

      font-weight: 700;
      // font-size: 26px;
      font-size: 23px;
      & .filter__extended-info-list-column-list-item-stars {
        @include s.d-flex($direction: row);
        gap: 4px;
        svg {
          fill: #f5c213;
        }
      }
    }
    &-place {
      @include s.d-flex($direction: row, $align: center);
      gap: 9px;

      font-weight: 400;
      font-size: 14px;
      svg {
        width: 16px;
        height: 16px;
        fill: s.$color__green;
        opacity: 0.5;
      }
    }
  }
  &-one {
    max-width: 730px;
    margin-top: 40px;
    @include s.d-flex($direction: column);
    gap: 50px;
    &-base {
      @include s.d-flex($direction: column);
      gap: 35px;
      &-images {
        display: grid;
        // grid-template-columns: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 16px;
        img {
          border-radius: 8px;

          // width: 169px;
          width: 100%;
          // height: 97px;
          height: 125px;
        }
        img:first-child {
          grid-column: 1 / -1;
          // width: 730px;
          // height: 499px;
        }
      }
      &-text {
        margin-left: -2px;
        @include s.d-flex($direction: column);
        gap: 18px;
        h3 {
          font-weight: 400;
          font-size: 18px;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.5;
          letter-spacing: 0.025em;
        }
      }
    }
    &-more {
      margin-left: -2px;
      @include s.d-flex($direction: column);
      gap: 30px;
      // display: grid;
      // grid-template-columns: repeat(2, 292px);
      // column-gap: 76px;
      // row-gap: 34px;

      div {
        @include s.d-flex($direction: column);
        gap: 18px;
        letter-spacing: 0.04rem;
        p {
          font-weight: 400;
          font-size: 18px;
        }
        ul {
          @include s.d-flex($direction: column);
          gap: 0.5px;
          li {
            line-height: 1.15rem;

            font-weight: 400;
            font-size: 14px;
          }
        }
      }
      // &-loc {
      //   grid-column: 1;
      //   grid-row: 1;
      // }

      // &-food {
      //   grid-column: 2;
      //   grid-row: 1;
      // }

      // &-beach {
      //   grid-column: 1;
      //   grid-row: 2;
      // }

      // &-sport {
      //   grid-column: 2;
      //   grid-row: 2 / 4;
      // }

      // &-kids {
      //   grid-column: 1;
      //   grid-row: 3;
      // }

      // &-rooms {
      //   grid-column: 1;
      //   grid-row: 4;
      // }

      // &-service {
      //   grid-column: 2;
      //   grid-row: 4;
      // }
    }
  }
  &-two {
    // margin-top: -27px;
    // max-width: 371px;
    width: 100%;
    @include s.d-flex($direction: column);
    // gap: 48px;
    gap: 28px;
    &-info {
      padding: 24px;
      @include s.d-flex($direction: column);
      gap: 33px;

      border-radius: 10px;
      background: s.$color__white;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      &-one {
        @include s.d-flex($direction: column);
        gap: 25px;
        &-title {
          @include s.d-flex(
            $direction: row,
            $justify: space-between,
            $align: center
          );
          letter-spacing: 0.04rem;

          h2 {
            font-weight: 400;
            font-size: 20px;
          }
          a {
            font-weight: 400;
            font-size: 14px;
            color: s.$color__primary;
            opacity: 0.5;
          }
        }
        &-list {
          @include s.d-flex($direction: column);
          gap: 17px;
          &-item {
            @include s.d-flex($direction: row, $align: center);
            gap: 12px;

            font-weight: 400;
            font-size: 16px;
            svg {
              width: 22px;
              height: 22px;
              fill: s.$color__green;
              opacity: 0.5;
            }
          }
        }
        &-price {
          @include s.d-flex($direction: column);
          gap: 12px;
          h2 {
            font-weight: 400;
            font-size: 24px;
            span {
              font-weight: 700;
              color: #000;
            }
          }
          p {
            font-weight: 400;
            font-size: 12px;
            color: #999;

            line-height: 1.3;
            letter-spacing: 0.025rem;
            span {
              font-weight: 700;
            }
          }
        }
      }
      &-two {
        @include s.d-flex($direction: column);
        gap: 24px;
        &-amount {
          @include s.d-flex($direction: column);
          gap: 9px;
          h3 {
            font-weight: 400;
            font-size: 16px;
            color: #555;
          }
          &-wrapper {
            position: relative;
            @include s.d-flex($direction: column);
            gap: 8px;
            &__trigger {
              cursor: pointer;
              padding: 9px 8px 9px 16px;
              border: 1px solid #e2e2e2;
              border-radius: 6px;
              background: s.$color__white;
              @include s.d-flex(
                $direction: row,
                $align: center,
                $justify: space-between
              );

              transition: border 0.5s ease;
              p {
                font-weight: 400;
                font-size: 16px;
              }
              svg {
                width: 24px;
                height: 24px;
                fill: #a9a9a9;

                transition: fill 0.5s ease;
              }
              &:hover {
                border: 1px solid s.$color__text;
                svg {
                  fill: s.$color__text;
                }
              }
            }
            &__dropdown {
              display: none;
              position: absolute;
              background: s.$color__white;
              bottom: -55px;
              width: 100%;

              border: 1px solid #e2e2e2;
              border-radius: 6px;
              overflow: hidden;
              &-item {
                @include s.d-flex($direction: row, $align: center);
                gap: 10px;
                padding: 9px 8px 9px 16px;
                background: s.$color__white;

                transition: background 0.5s ease;

                font-weight: 400;
                font-size: 16px;
                &-variant {
                  @include s.d-flex($direction: row, $align: center);

                  gap: 6px;
                  &-prev {
                    transform: rotate(90deg);
                  }
                  &-next {
                    transform: rotate(-90deg);
                  }
                  svg {
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    fill: #a9a9a9;

                    transition: fill 0.5s ease;
                    &:hover {
                      fill: s.$color__text;
                    }
                    &.is-disabled {
                      opacity: 0.4;
                      pointer-events: none;
                    }
                  }
                }
                &:hover {
                  background: s.$color__primary;
                  color: s.$color__white;
                  svg {
                    fill: s.$color__white;
                    &:hover {
                      fill: s.$color__text;
                    }
                  }
                }
              }
              &.is-open {
                @include s.d-flex($direction: column);
              }
            }
            &__info {
              @include s.d-flex($direction: row, $wrap: wrap, $align: center);
              gap: 8px;
              li {
                padding: 4px 10px;
                border: 1px solid #e2e2e2;
                border-radius: 6px;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                background: s.$color__white;

                font-weight: 400;
                font-size: 12px;
              }
            }
          }
        }
      }
      &-three {
        @include s.d-flex($direction: column);
        gap: 16px;
        &-price {
          @include s.d-flex($direction: row, $align: baseline);
          gap: 8px;

          font-weight: 400;
          font-size: 16px;
          span {
            font-weight: 700;
            font-size: 24px;
            color: s.$color__green;
          }
        }
        &-police {
          @include s.d-flex($direction: row);
          gap: 7px;
          svg {
            flex-shrink: 0;
            width: 18px;
            height: 18px;
            fill: s.$color__blue;
            opacity: 0.5;
          }
          p {
            font-weight: 400;
            font-size: 12px;
            color: #999;
            span {
              color: #555;
            }
          }
        }
      }
    }
    &-why {
      @include s.d-flex($direction: column);
      gap: 27px;

      width: 100%;
      padding: 23px 24px 24px 20px;
      border-radius: 8px;
      border: 3px solid s.$color__primary;
      h3 {
        font-weight: 400;
        font-size: 17px;
      }
      &-list {
        @include s.d-flex($direction: column);
        gap: 14px;
        &-item {
          @include s.d-flex($direction: row, $align: center);
          gap: 12px;

          &-icon {
            width: 24px;
            height: 24px;
            @include s.d-flex(
              $direction: column,
              $align: center,
              $justify: center
            );
            border: 1px solid #3e773949;
            border-radius: 4px;

            svg {
              width: 18px;
              height: 18px;
              fill: s.$color__green;
            }
          }
          p {
            font-weight: 700;
            font-size: 16px;
          }
        }
      }
    }
    &-contacts {
      padding: 24px 24px 24px 22px;
      @include s.d-flex($direction: column);
      gap: 18px;

      border-radius: 10px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      &-title {
        max-width: 290px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6rem;
        span {
          font-weight: 700;
        }
      }
      &-info {
        @include s.d-flex($direction: column);
        gap: 17px;
        &-text {
          @include s.d-flex($direction: column);
          gap: 6px;

          font-weight: 400;
          font-size: 16px;
          color: #555;
          span {
            font-weight: 700;
            font-size: 18px;
            color: #222;
          }
        }
        &-image {
          border-radius: 6px;
          overflow: hidden;

          width: 100%;
          height: 160px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &-list {
          @include s.d-flex($direction: column);
          gap: 16px;
          li {
            @include s.d-flex($direction: row, $align: center);
            gap: 12px;
            svg {
              width: 24px;
              height: 24px;
              fill: s.$color__green;
              opacity: 0.5;
            }
            p {
              font-weight: 400;
              font-size: 16px;
              span {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: s.$media_768) {
    // padding: 0 97px 0 99px;
    padding: 0 65px 0 65px;
    &-div {
      @include s.d-flex($direction: row, $justify: space-between);
      gap: none;
    }
    &-absolute {
      padding: 17px 14px 13px 19px;
      gap: 6px;
      &-name {
        @include s.d-flex($direction: row);
        gap: 13px;

        font-size: 26px;
      }
    }
    &-one {
      width: 630px;
      // width: auto;
      &-base {
        &-images {
          // grid-template-columns: repeat(4, 1fr);
          grid-template-columns: repeat(2, 1fr);
          img {
            border-radius: 8px;

            // width: 169px;
            height: 97px;
          }
          img:first-child {
            // width: 730px;
            // height: 499px;
            height: 150px;
          }
        }
      }
      &-more {
        // display: grid;
        // grid-template-columns: repeat(2, 292px);
        // column-gap: 76px;
        // row-gap: 34px;

        // &-loc {
        //   grid-column: 1;
        //   grid-row: 1;
        // }

        // &-food {
        //   grid-column: 2;
        //   grid-row: 1;
        // }

        // &-beach {
        //   grid-column: 1;
        //   grid-row: 2;
        // }

        // &-sport {
        //   grid-column: 2;
        //   grid-row: 2 / 4;
        // }

        // &-kids {
        //   grid-column: 1;
        //   grid-row: 3;
        // }

        // &-rooms {
        //   grid-column: 1;
        //   grid-row: 4;
        // }

        // &-service {
        //   grid-column: 2;
        //   grid-row: 4;
        // }
      }
    }
    &-two {
      margin-top: -27px;
      max-width: 371px;
      gap: 48px;
    }
  }
  @media (min-width: s.$media_1366) {
    padding: 0 97px 0 99px;
    &-one {
      width: auto;
      &-base {
        &-images {
          grid-template-columns: repeat(4, 1fr);
          img {
            width: 169px;
          }
          img:first-child {
            width: 730px;
            height: 499px;
          }
        }
      }
      &-more {
        display: grid;
        grid-template-columns: repeat(2, 292px);
        column-gap: 76px;
        row-gap: 34px;

        &-loc {
          grid-column: 1;
          grid-row: 1;
        }

        &-food {
          grid-column: 2;
          grid-row: 1;
        }

        &-beach {
          grid-column: 1;
          grid-row: 2;
        }

        &-sport {
          grid-column: 2;
          grid-row: 2 / 4;
        }

        &-kids {
          grid-column: 1;
          grid-row: 3;
        }

        &-rooms {
          grid-column: 1;
          grid-row: 4;
        }

        &-service {
          grid-column: 2;
          grid-row: 4;
        }
      }
    }
  }
  @media (min-width: s.$media_1920) {
    padding: 0 150px 0 150px;
    &-one {
			max-width: 940px;
      width: auto;
      &-base {
        &-images {
          img {
            width: 100%;
						height: 150px;
          }
          img:first-child {
            width: 100%;
          }
        }
      }
      &-more {
        display: grid;
        grid-template-columns: repeat(3, 292px);
        column-gap: 76px;
        row-gap: 34px;

        &-loc {
          grid-column: 1;
          grid-row: 1;
        }

        &-food {
          grid-column: 2;
          grid-row: 1;
        }

        &-beach {
          grid-column: 1;
          grid-row: 2;
        }

        &-sport {
          grid-column: 2;
          grid-row: 2 / 4;
        }

        &-kids {
          grid-column: 1;
          grid-row: 3;
        }

        &-rooms {
          grid-column: 3;
          grid-row: 2 / 4;
        }

        &-service {
          grid-column: 3;
          grid-row: 1;
        }
      }
    }
  }
}
.info-hotel__more {
}
