@use "../../basic/globals.scss" as s;

.herobase {
	z-index: -1;
  position: relative;
  width: 100%;
  height: 191px;
  &__image {
    width: 100%;
    height: 100%;

    background-image: url("/img/hero/hero-mob.webp");
    @include s.bgr();
  }
  &__wave {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 0px;
    background-color: s.$color__white;

    animation: wave 5s ease-in-out infinite;
    will-change: clip-path;
  }

  @media (min-width: s.$media_768) {
    height: 220px;

    &__image {
      background-image: url("/img/hero/herobase.webp");
    }
    &__wave {
      height: 58px;
    }
    @keyframes wave {
      0%,
      100% {
        clip-path: polygon(
          0 15%,
          16% 24%,
          33% 50%,
          54% 60%,
          70% 61%,
          84% 59%,
          90% 57%,
          100% 60%,
          100% 100%,
          0% 100%
        );
      }
      50% {
        clip-path: polygon(
          0 60%,
          15% 65%,
          34% 66%,
          51% 62%,
          67% 50%,
          84% 37%,
          90% 40%,
          100% 47%,
          100% 100%,
          0% 100%
        );
      }
    }
  }

  @media (min-width: s.$media_1366) {
    height: 320px;

    @keyframes wave {
      0%,
      100% {
        clip-path: polygon(
          0 19%,
          5% 17%,
          10% 20%,
          15% 24%,
          20% 33%,
          25% 40%,
          30% 50%,
          35% 57%,
          40% 65%,
          45% 67%,
          50% 70%,
          55% 77%,
          60% 80%,
          65% 87%,
          70% 93%,
          75% 94%,
          85% 90%,
          90% 85%,
          95% 82%,
          100% 75%,
          100% 100%,
          0% 100%
        );
      }
      50% {
        clip-path: polygon(
          0 90%,
          5% 85%,
          10% 80%,
          15% 78%,
          20% 82%,
          25% 94%,
          30% 93%,
          35% 87%,
          40% 80%,
          45% 77%,
          50% 70%,
          55% 67%,
          60% 65%,
          65% 57%,
          70% 50%,
          75% 40%,
          85% 30%,
          90% 23%,
          95% 21%,
          100% 26%,
          100% 100%,
          0% 100%
        );
      }
    }
  }
}
