<div class="info-hotel__wrapper-div">
  <div class="info-hotel__wrapper-absolute">
    <h1 class="info-hotel__wrapper-absolute-name">
      {{hotelName}} {{category}}
    </h1>
    <div class="info-hotel__wrapper-absolute-place">
      <svg>
        <use href="{{sprite}}#icon-point"></use>
      </svg>
      {{destination}}, {{region}}
    </div>
  </div>
  <div class="info-hotel__wrapper-one">
    <div class="info-hotel__wrapper-one-base">
      <div class="info-hotel__wrapper-one-base-images">
        <img
          src="{{imgOne}}"
          alt="image one"
          fetchpriority="high"
          decoding="async"
        />
        <img
          src="{{imgTwo}}"
          alt="imgTwo"
          fetchpriority="high"
          decoding="async"
        />
        <img
          src="{{imgThree}}"
          alt="imgThree"
          fetchpriority="high"
          decoding="async"
        />
        <img
          src="{{imgFour}}"
          alt="imgFour"
          fetchpriority="high"
          decoding="async"
        />
        <img
          src="{{imgFive}}"
          alt="imgFive"
          fetchpriority="high"
          decoding="async"
        />
      </div>
      <div class="info-hotel__wrapper-one-base-text">
        <h3>Рекомендуем для семейного и молодёжного отдыха.</h3>
        <p>
          Гости города Золотые пески, приехавшие в город по делам бизнеса или
          для отдыха, могут остановиться в гостинце Ambassador (Амбассадор).
          Отель прекрасно сочетает в себе как современный комфорт, так и высокий
          уровень обслуживания. Каждый номер оснащен всем необходимым для
          комфортного отдыха (кондиционер, телевизор, письменный стол, сейф и
          утренняя газета). Вы сможете воспользоваться услугами массажиста,
          баром, лифтом, спа, сауной, рестораном, отдохнуть у бассейна, посетить
          фитнес зал и прогуляться по саду. Ваш отдых в отеле Ambassador
          (Амбассадор) будет ярким и запоминающимся, вас не оставят равнодушными
          первоклассный сервис и великолепное обслуживание. Отель находится в 27
          км от Международного аэропорта Варна (Varna International Airport), в
          900 метрах от центра курорта Золотые пески и в 150 метрах от пляжа.
          Отель принимает отдыхающих круглый год и является прекрасным местом
          для отдыха, спорта и развлечений. В бальнеологическом центре
          «Амбассадор» предлагаются свыше 100 видов услуг: таласотерапия,
          ванные, массаж, электротерапия, грязелечение, водолечение,
          акупунктура, медицинская косметика, сауна, открытый и крытый бассейны,
          фитнес зал, солярий и много других.
        </p>
      </div>
    </div>
    <div class="info-hotel__wrapper-one-more">
      <div class="info-hotel__wrapper-one-more-loc">
        <p>Месторасположение</p>
        <ul>
          <li>
            Гостиница находится в южной части курортного комплекса «Золотые
            пески» в нескольких минутах ходьбы от моря.
          </li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-food">
        <p>Рестораны и бары</p>
        <ul>
          <li>— бары</li>
          <li>— кафе</li>
          <li>— рестораны</li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-beach">
        <p>Пляж</p>
        <ul>
          <li>— Расстояние до пляжа (60 м.)</li>
          <li>— Зонтики (платно)</li>
          <li>— Шезлонги (платно)</li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-kids">
        <p>Для детей</p>
        <ul>
          <li>— детская площадка</li>
          <li>— детский бассейн</li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-sport">
        <p>Развлечения и спорт</p>
        <ul>
          <li>— бассейн крытый</li>
          <li>— бассейн открытый</li>
          <li>— массаж</li>
          <li>— салон красоты</li>
          <li>— сауна</li>
          <li>— фитнес центр</li>
          <li>— велосипеды</li>
          <li>— прокат</li>
          <li>— теннис настольный</li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-rooms">
        <p>Номера</p>
        <ul>
          <li>— 181 номеров</li>
          <li>— душ</li>
          <li>— туалет</li>
          <li>— умывальник</li>
          <li>— балкон</li>
          <li>— ТВ спутниковое</li>
          <li>— кондиционер</li>
          <li>— телефон</li>
          <li>— холодильник</li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-service">
        <p>Сервис</p>
        <ul>
          <li>— парковка</li>
          <li>— прокат автомобилей</li>
          <li>— обмен валют</li>
          <li>— сейф</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="info-hotel__wrapper-two">
    <div class="info-hotel__wrapper-two-info">
      <div class="info-hotel__wrapper-two-info-one">
        <div class="info-hotel__wrapper-two-info-one-title">
          <h2>Выбранный тур</h2>
          <a href="{{searchLink}}">изменить</a>
        </div>
        <ul class="info-hotel__wrapper-two-info-one-list">
          <li class="info-hotel__wrapper-two-info-one-list-item">
            <svg>
              <use href="{{sprite}}#icon-calendar"></use>
            </svg>
            {{startDate}} | {{days}}
          </li>
          <li class="info-hotel__wrapper-two-info-one-list-item">
            <svg>
              <use href="{{sprite}}#icon-airplane"></use>
            </svg>
            Вылет из {{departureCity}}
          </li>
          <li class="info-hotel__wrapper-two-info-one-list-item">
            <svg>
              <use href="{{sprite}}#icon-food"></use>
            </svg>
            {{meals}}
          </li>
          <li class="info-hotel__wrapper-two-info-one-list-item">
            <svg>
              <use href="{{sprite}}#icon-house"></use>
            </svg>
            {{cate}}
          </li>
        </ul>
        <div class="info-hotel__wrapper-two-info-one-price">
          <h2><span>{{price}}€</span>/чел</h2>
          <p>
            <span>Цена на одного человека </span>действительна при размещении в
            двухместном номере. Цена зависит от количества мест и может
            измениться.
          </p>
        </div>
      </div>
      <div class="info-hotel__wrapper-two-info-two">
        <div class="info-hotel__wrapper-two-info-two-amount">
          <h3>Количество отдыхающих</h3>
          <div class="info-hotel__wrapper-two-info-two-amount-wrapper">
            <div
              class="info-hotel__wrapper-two-info-two-amount-wrapper__trigger"
            >
              <p>
                Взрослых: <span class="info-hotel__adults">1</span>; детей:
                <span class="info-hotel__children">0</span>
              </p>
              <svg>
                <use href="{{sprite}}#icon-more"></use>
              </svg>
            </div>
            <ul
              class="info-hotel__wrapper-two-info-two-amount-wrapper__dropdown"
            >
              <li
                class="info-hotel__wrapper-two-info-two-amount-wrapper__dropdown-item"
              >
                Взрослых:
                <div
                  class="info-hotel__wrapper-two-info-two-amount-wrapper__dropdown-item-variant"
                >
                  <svg
                    class="info-hotel__wrapper-two-info-two-amount-wrapper__dropdown-item-variant-prev info-hotel-adults-minus"
                  >
                    <use href="{{sprite}}#icon-more"></use>
                  </svg>
                  <span class="info-hotel__dropdown-adults-value">1</span>
                  <svg
                    class="info-hotel__wrapper-two-info-two-amount-wrapper__dropdown-item-variant-next info-hotel-adults-plus"
                  >
                    <use href="{{sprite}}#icon-more"></use>
                  </svg>
                </div>
              </li>
              <li
                class="info-hotel__wrapper-two-info-two-amount-wrapper__dropdown-item"
              >
                Детей:
                <div
                  class="info-hotel__wrapper-two-info-two-amount-wrapper__dropdown-item-variant"
                >
                  <svg
                    class="info-hotel__wrapper-two-info-two-amount-wrapper__dropdown-item-variant-prev info-hotel-children-minus"
                  >
                    <use href="{{sprite}}#icon-more"></use>
                  </svg>
                  <span class="info-hotel__dropdown-children-value">0</span>
                  <svg
                    class="info-hotel__wrapper-two-info-two-amount-wrapper__dropdown-item-variant-next info-hotel-children-plus"
                  >
                    <use href="{{sprite}}#icon-more"></use>
                  </svg>
                </div>
              </li>
            </ul>
            <ul
              class="info-hotel__wrapper-two-info-two-amount-wrapper__info"
            ></ul>
          </div>
        </div>
      </div>
      <div class="info-hotel__wrapper-two-info-three">
        <p class="info-hotel__wrapper-two-info-three-price">
          Общая стоимость тура: <span class="info-hotel__total-price">€</span>
        </p>
        <button
          class="button-org info-hotel__wrapper-two-info-three-btn"
          style="--btn-width: 100%; --btn-height: 42px"
          aria-label="Бронировать"
        >
          Бронировать
        </button>
        <div class="info-hotel__wrapper-two-info-three-police">
          <svg>
            <use href="{{sprite}}#icon-lock"></use>
          </svg>
          <p>
            Ваши данные надежно защищены и обрабатываются согласно с
            <span>условиями обработки личных данных</span>
          </p>
        </div>
      </div>
    </div>
    <div class="info-hotel__wrapper-two-why">
      <h3>ПОЧЕМУ БРОНИРОВАТЬ ТУР У НАС?</h3>
      <ul class="info-hotel__wrapper-two-why-list">
        <li class="info-hotel__wrapper-two-why-list-item">
          <div class="info-hotel__wrapper-two-why-list-item-icon">
            <svg>
              <use href="{{sprite}}#icon-check"></use>
            </svg>
          </div>
          <p>Только отобранные отели</p>
        </li>
        <li class="info-hotel__wrapper-two-why-list-item">
          <div class="info-hotel__wrapper-two-why-list-item-icon">
            <svg>
              <use href="{{sprite}}#icon-check"></use>
            </svg>
          </div>
          <p>Все туроператоры на одном сайте</p>
        </li>
        <li class="info-hotel__wrapper-two-why-list-item">
          <div class="info-hotel__wrapper-two-why-list-item-icon">
            <svg>
              <use href="{{sprite}}#icon-check"></use>
            </svg>
          </div>
          <p>Прозрачно и безопасно</p>
        </li>
        <li class="info-hotel__wrapper-two-why-list-item">
          <div class="info-hotel__wrapper-two-why-list-item-icon">
            <svg>
              <use href="{{sprite}}#icon-check"></use>
            </svg>
          </div>
          <p>Без наценок</p>
        </li>
      </ul>
    </div>
    <div class="info-hotel__wrapper-two-contacts">
      <h2 class="info-hotel__wrapper-two-contacts-title">
        ЕСТЬ ВОПРОСЫ ПО ОТЕЛЮ ИЛИ <span>ХОТИТЕ ПОДОБРАТЬ ТУР?</span>
      </h2>
      <div class="info-hotel__wrapper-two-contacts-info">
        <p class="info-hotel__wrapper-two-contacts-info-text">
          Вам поможет наш консультант <span>Марина Каасик</span>
        </p>
        <div class="info-hotel__wrapper-two-contacts-info-image">
          <img
            src="{{imgContacts}}"
            alt="imgContacts"
            fetchpriority="high"
            decoding="async"
          />
        </div>
        <ul class="info-hotel__wrapper-two-contacts-info-list">
          <li>
            <svg>
              <use href="{{sprite}}#icon-phone"></use>
            </svg>
            <p>+372 <span>6 130 633</span></p>
          </li>
          <li>
            <svg>
              <use href="{{sprite}}#icon-mail"></use>
            </svg>
            <p>contact@email.ee</p>
          </li>
          <li>
            <svg>
              <use href="{{sprite}}#icon-messanger"></use>
            </svg>
            <p>Написать в Messenger</p>
          </li>
          <li>
            <svg>
              <use href="{{sprite}}#icon-clock"></use>
            </svg>
            <p>Пн - Пт <span>10.00 - 18.00</span></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
