<div class="info-hotel__wrapper-div">
  <div class="info-hotel__wrapper-absolute">
    <h1 class="info-hotel__wrapper-absolute-name">
      {{hotelName}} {{category}}
    </h1>
    <div class="info-hotel__wrapper-absolute-place">
      <svg>
        <use href="{{sprite}}#icon-point"></use>
      </svg>
      {{destination}}, {{region}}
    </div>
  </div>
  <div class="info-hotel__wrapper-one">
    <div class="info-hotel__wrapper-one-base">
      <div class="info-hotel__wrapper-one-base-images">
        <img src="{{imgOne}}" />
        <img src="{{imgTwo}}" />
        <img src="{{imgThree}}" />
        <img src="{{imgFour}}" />
        <img src="{{imgFive}}" />
      </div>
      <div class="info-hotel__wrapper-one-base-text">
        <h3>Рекомендуем для семейного и молодёжного отдыха.</h3>
        <p>
          Гости города Золотые пески, приехавшие в город по делам бизнеса или
          для отдыха, могут остановиться в гостинце Ambassador (Амбассадор).
          Отель прекрасно сочетает в себе как современный комфорт, так и высокий
          уровень обслуживания. Каждый номер оснащен всем необходимым для
          комфортного отдыха (кондиционер, телевизор, письменный стол, сейф и
          утренняя газета). Вы сможете воспользоваться услугами массажиста,
          баром, лифтом, спа, сауной, рестораном, отдохнуть у бассейна, посетить
          фитнес зал и прогуляться по саду. Ваш отдых в отеле Ambassador
          (Амбассадор) будет ярким и запоминающимся, вас не оставят равнодушными
          первоклассный сервис и великолепное обслуживание. Отель находится в 27
          км от Международного аэропорта Варна (Varna International Airport), в
          900 метрах от центра курорта Золотые пески и в 150 метрах от пляжа.
          Отель принимает отдыхающих круглый год и является прекрасным местом
          для отдыха, спорта и развлечений. В бальнеологическом центре
          «Амбассадор» предлагаются свыше 100 видов услуг: таласотерапия,
          ванные, массаж, электротерапия, грязелечение, водолечение,
          акупунктура, медицинская косметика, сауна, открытый и крытый бассейны,
          фитнес зал, солярий и много других.
        </p>
      </div>
    </div>
    <div class="info-hotel__wrapper-one-more">
      <div class="info-hotel__wrapper-one-more-loc">
        <p>Месторасположение</p>
        <ul>
          <li>
            Гостиница находится в южной части курортного комплекса «Золотые
            пески» в нескольких минутах ходьбы от моря.
          </li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-food">
        <p>Рестораны и бары</p>
        <ul>
          <li>— бары</li>
          <li>— кафе</li>
          <li>— рестораны</li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-beach">
        <p>Пляж</p>
        <ul>
          <li>— Расстояние до пляжа (60 м.)</li>
          <li>— Зонтики (платно)</li>
          <li>— Шезлонги (платно)</li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-kids">
        <p>Для детей</p>
        <ul>
          <li>— детская площадка</li>
          <li>— детский бассейн</li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-sport">
        <p>Развлечения и спорт</p>
        <ul>
          <li>— бассейн крытый</li>
          <li>— бассейн открытый</li>
          <li>— массаж</li>
          <li>— салон красоты</li>
          <li>— сауна</li>
          <li>— фитнес центр</li>
          <li>— велосипеды</li>
          <li>— прокат</li>
          <li>— теннис настольный</li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-rooms">
        <p>Номера</p>
        <ul>
          <li>— 181 номеров</li>
          <li>— душ</li>
          <li>— туалет</li>
          <li>— умывальник</li>
          <li>— балкон</li>
          <li>— ТВ спутниковое</li>
          <li>— кондиционер</li>
          <li>— телефон</li>
          <li>— холодильник</li>
        </ul>
      </div>
      <div class="info-hotel__wrapper-one-more-service">
        <p>Сервис</p>
        <ul>
          <li>— парковка</li>
          <li>— прокат автомобилей</li>
          <li>— обмен валют</li>
          <li>— сейф</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="info-hotel__wrapper-two">
    <div class="info-hotel__wrapper-two-info">
      <div class="info-hotel__wrapper-two-info-one">
        <div class="info-hotel__wrapper-two-info-one-title">
          <h2>Выбранный тур</h2>
          <a href="{{link 'html/pages/searchPage.html'}}">изменить</a>
        </div>
      </div>
      <div class="info-hotel__wrapper-two-info-two"></div>
    </div>
  </div>
</div>
