<div class="swiper {{className}}" data-swiper>
  <div class="swiper-wrapper">
    {{#each slides}}
    <div class="swiper-slide">
      <div class="news-home__card">
        <div class="news-home__image">
          <img src="{{image}}" alt="{{title}}" />

          {{#if price}}
          <p class="news-home__price">от <span>{{price}}</span></p>
          {{/if}} {{#if date}}
          <div class="news-home__date-wrapper">
            <svg width="16" height="16">
              <use href="/img/sprite.svg#icon-clock"></use>
            </svg>
            <p>{{date}}</p>
          </div>
          {{/if}}
        </div>

        <div class="news-home__content">
          <p class="news-home__title-card">{{title}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
