@use "./fonts.scss";
@use "./basic/reset.scss";

@use "./basic/variables.scss";
@use "./basic/mixins.scss";

@use "./basic/base.scss";
@use "./basic/container.scss";


@use "./layout/header.scss" as *;



// під всіма use
@import "normalize.css";
