@use "./fonts.scss";
@use "./basic/reset.scss";

@use "./basic/variables.scss";
@use "./basic/mixins.scss";

@use "./basic/base.scss";
@use "./basic/container.scss";

@use "./layout/header.scss" as *;
@use "./layout/mob-menu.scss" as *;

@use "./layout/footer.scss" as *;

@use "./layout/errorpage/errorpage.scss" as *;

// під всіма use
@import "normalize.css";
