@use "./fonts.scss";
@use "./basic/reset.scss";

@use "./basic/variables.scss";
@use "./basic/mixins.scss";

@use "./basic/base.scss";
@use "./basic/container.scss";

// Components
@use "./components/consultant-card.scss" as *;
@use "./components/slider.scss" as *;

@use "./layout/header.scss" as *;
@use "./layout/mob-menu.scss" as *;
@use "./layout/hero/hero.scss" as *;
@use "./layout/button.scss" as *;
@use "./layout/tourbooking.scss" as *;
@use "./layout/footer.scss" as *;

// filter
@use "./layout/filter/filter.scss" as *;
@use "./layout/filter/filterExteded.scss" as *;

// searchPage
@use "./layout/searchpage/resultList.scss" as *;

//homePage
@use "./homepage/news-home.scss" as *;
@use "./layout/homepage/hothome.scss" as *;
@use "./layout/homepage/sliderWinSum.scss" as *;

//hotPage
@use "./layout/hotpage/tableHot.scss" as *;

// newsPage
@use "./newsPage/news-section.scss" as *;

// directionsSection
@use "./directionsSection/direction.scss" as *;

// bookingSection
@use "./bookingSection/booking.scss" as *;

// contactsPage
@use "./layout/contactspage/contactssection.scss" as *;

// errorPage
@use "./layout/errorpage/errorpage.scss" as *;

// Auth
@use "./auth/login.scss" as *;
@use "./auth/registerSection.scss" as *;
@use "./auth/forgotSection.scss" as *;

@use "./accountSection/account-section.scss" as *;

// під всіма use
@import "normalize.css";
