@use "./fonts.scss";
@use "./basic/reset.scss";

@use "./basic/variables.scss";
@use "./basic/mixins.scss";

@use "./basic/base.scss";
@use "./basic/container.scss";

// Components
@use "./components/consultant-card.scss" as *;

@use "./layout/header.scss" as *;
@use "./layout/mob-menu.scss" as *;

@use "./layout/hero/hero.scss" as *;

@use "./layout/button.scss" as *;
@use "./layout/tourbooking.scss" as *;
@use "./layout/footer.scss" as *;

@use "./layout/contactspage/contactssection.scss" as *;
@use "./layout/errorpage/errorpage.scss" as *;

// Auth
@use "./auth/login.scss" as *;
@use "./auth/registerSection.scss" as *;
@use "./auth/forgotSection.scss" as *;

// під всіма use
@import "normalize.css";
