@use "./variables.scss" as s;
// @media (min-width: s.$media_768) {
// }
// @media (min-width: s.$media_1366) {
// }
// @media (min-width: s.$media_1440) {
// }
// @media (min-width: s.$media_1920) {
// }


.container {
  width: 100%;

  @media (min-width: s.$media_1366) {
    width: 1366px;
    margin: 0 auto;
  }
  @media (min-width: s.$media_1440) {
    width: 1440px;
    margin: 0 auto;
  }
  @media (min-width: s.$media_1920) {
    width: 1920px;
  }
}
.container-padding {
  padding: 0 17px;
  // box-sizing: border-box;

  @media (min-width: s.$media_768) {
    padding: 0 65px;
  }
  @media (min-width: s.$media_1366) {
    padding: 0 93px;
  }
  @media (min-width: s.$media_1440) {
    padding: 0 98px;
  }
  @media (min-width: s.$media_1920) {
    padding: 0 150px;
  }
}


// .section {
// padding-top: 45px;
// padding-bottom: 45px;
// @media (min-width: s.$media_768) {
//   & {
//     padding-top: 100px;
//     padding-bottom: 100px;
//   }
// }
// @media (min-width: s.$media_1440) {
//   & {
//     padding-top: 120px;
//     padding-bottom: 120px;
//   }
// }
// }