$color__white: #fff;
$color__black: #000;
$color__primary: #f68521;
$color__red: #f15d28;
$color__green: #3e7739;
$color__blue: #255296;
$color__text: #222;
$color__gray: #5a5a5a;


$media_360: 360px;
$media_366: 366px;
$media_375: 375px;
$media_768: 768px;
$media_1366: 1366px;
$media_1440: 1440px;
$media_1920: 1920px;

$font__sans: "Open Sans", sans-serif;
$font__roboto: "Roboto", sans-serif;