<section class="footer">
  <div class="footer__div container">
    <div class="footer__div-info">
      <div class="footer__div-info-direct">
        <h1>Популярные направления</h1>
        <div>
          <ul>
            <li>Египет</li>
            <li>АОЭ</li>
            <li>Тайланд</li>
            <li>Болгария</li>
            <li>Тенерифе</li>
          </ul>
          <ul>
            <li>Бали</li>
            <li>Грузия</li>
            <li>Греция</li>
            <li>Турция</li>
            <li>Кипр</li>
          </ul>
        </div>
      </div>
      <div class="footer__div-info-contacts">
        <h3>Контакты</h3>
        {{> contacts footer=true}}
      </div>
    </div>
    <div class="footer__div-inst">
      <div class="footer__div-inst-title">
        <svg>
          <use href="/img/footer/insta.svg"></use>
        </svg>
        <p>@booking.clubstravel.ee</p>
      </div>
      <div class="footer__div-inst-image">
        <img
          src="/img/footer/image.webp"
          alt="Insragram"
          fetchpriority="high"
          decoding="async"
        />
      </div>
    </div>
  </div>
  <div class="footer__police">
    <p class="footer__police-text">©2026 Clubstravel. All Rights Reserved</p>
    <div class="footer__police-div">
      <p>Политика конфиденциальности</p>
      <p>Политика использования</p>
    </div>
  </div>
</section>
