<section class="container footer">
  <div class="footer__div">
    <div class="footer__div-info">
      <div class="footer__div-info-direct">
        <h3>Популярные направления</h3>
        <div>
          <ul>
            <li>Египет</li>
            <li>АОЭ</li>
            <li>Тайланд</li>
            <li>Болгария</li>
            <li>Тенерифе</li>
          </ul>
          <ul>
            <li>Бали</li>
            <li>Грузия</li>
            <li>Греция</li>
            <li>Турция</li>
            <li>Кипр</li>
          </ul>
        </div>
      </div>
      <div class="footer__div-info-contacts">
        <h3>Контакты</h3>
        {{> contacts footer=true}}

        <!-- <span>Clubs Travel OÜ</span>
        <ul class="footer__div-info-contacts-list">
          <li>
            <svg>
              <use href="/img/sprite.svg#icon-clock"></use>
            </svg>
            <p>Пн-Пт 9:30-18:00, Сб 11:00-15:00</p>
          </li>
          <li>
            <svg>
              <use href="/img/sprite.svg#icon-point"></use>
            </svg>
            <p>Narva mnt 7D, Tallinn (корпус B) 4 этаж</p>
          </li>
          <li class="footer__div-info-contacts-list-item">
            <svg>
              <use href="/img/sprite.svg#icon-phone"></use>
            </svg>
            <p>
              <a href="tel:+37255560310">+372 555 60 310</a>
              |
              <a href="tel:+3726130633">+372 61 30 633</a>
            </p>
          </li>
          <li class="footer__div-info-contacts-list-item">
            <svg>
              <use href="/img/sprite.svg#icon-mail"></use>
            </svg>
            <p>
              <a href="mailto:info@clubstravel.ee">info@clubstravel.ee</a>
            </p>
          </li>
        </ul> -->
      </div>
    </div>
    <div class="footer__div-inst">
      <div class="footer__div-inst-title">
        <svg>
          <use href="/img/footer/insta.svg"></use>
        </svg>
        <p>@booking.clubstravel.ee</p>
      </div>
      <div class="footer__div-inst-image">
        <img src="/img/footer/image.webp" />
      </div>
    </div>
  </div>
  <div class="footer__police">
    <p class="footer__police-text">©2026 Clubstravel. All Rights Reserved</p>
    <div class="footer__police-div">
      <p>Политика конфиденциальности</p>
      <p>Политика использования</p>
    </div>
  </div>
</section>
