@use "../basic/globals.scss" as s;

.news-home {
  padding: 80px 0;
  @media (min-width: s.$media_1366) {
    padding: 100px 0;
  }

  &__container {
    padding: 0 9px 0 12px;
    @media (min-width: s.$media_768) {
      padding: 0 29px 0 42px;
    }
    @media (min-width: s.$media_1366) {
      padding: 0 81px 0 93px;
    }
  }

  &__title-wrapper {
    @include s.d-flex($direction: column, $align: center);
    @media (min-width: s.$media_1366) {
      @include s.d-flex($direction: row, $justify: center, $align: flex-start);
      gap: 4px;
    }
    svg {
      fill: #f15d28;
      margin-bottom: 8px;
      @media (min-width: s.$media_1366) {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #f15d28;
    margin-bottom: 17px;
    @media (min-width: s.$media_1366) {
      br {
        display: none;
      }
      margin-bottom: 39px;
    }
    span {
      color: s.$color__text;
    }
  }

  &__sub-title {
    font-size: 14px;
    text-align: center;
    color: #888;
    padding-bottom: 55px;
    width: 316px;
    @media (min-width: s.$media_1366) {
      display: none;
      padding-bottom: 50px;
    }
  }

  &__slider-wrapper {
    position: relative;
    padding: 0 9px 0 10px;
    margin-bottom: 49px;
    @media (min-width: s.$media_1366) {
      padding: 0;
      margin-bottom: 43px;
    }
  }

  &__card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    background: s.$color__white;
    width: 320px;
    height: 330px;
    @media (min-width: s.$media_1366) {
      width: 380px;
    }
  }

  &__image {
    position: relative;
    img {
      width: 320px;
      height: 250px;
      border-radius: 10px 10px 0 0;
      @media (min-width: s.$media_1366) {
        width: 379px;
      }
    }
  }

  &__price {
    position: absolute;
    right: 15px;
    top: 30px;
    background: s.$color__primary;
    font-size: 16px;
    color: s.$color__white;
    padding: 4px 11px 5px;
    @media (min-width: s.$media_1366) {
      right: 0;
    }

    span {
      font-weight: 700;
    }
  }

  &__date-wrapper {
    position: absolute;
    left: 14px;
    bottom: 14px;
    @include s.d-flex($direction: row, $align: center);
    gap: 9px;
    border-radius: 6px;
    background: #000;
    opacity: 0.5;
    padding: 6px 15px 7px 8px;

    svg {
      fill: s.$color__white;
    }

    p {
      font-size: 14px;
      color: s.$color__white;
    }
  }

  &__content {
    padding: 16px 22px 40px;

    p {
      font-size: 16px;
      line-height: 1.5;
      color: s.$color__text;
    }
  }

  &__button-prev,
  &__button-next {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 36%;
    transform: translateY(-50%);
    z-index: 10;
    svg {
      fill: #3e7739;
    }
    @media (min-width: s.$media_1366) {
      top: 50%;
    }
  }

  &__button-prev {
    left: 20px;
    @media (min-width: s.$media_1366) {
      left: -64px;
    }
  }
  &__button-next {
    transform: translateY(-50%) rotate(180deg);
    right: 33px;
    @media (min-width: s.$media_1366) {
      right: -64px;
    }
  }

  &__link {
    @include s.d-flex($align: center, $justify: center);
    gap: 8px;
    font-size: 16px;
    color: #555;

    svg {
      fill: s.$color__primary;
    }
  }
}
