@use "../../basic/globals.scss" as s;

.result-filter__calendar {
  &[hidden] {
    display: none;
  }
}
.calendar-day-price {
  font-size: 10px;
  margin-top: 2px;
  color: #f68521;
}
.result-filter__calendar-results {
  & .swiper-wrapper {
  }
  & .swiper-slide {
      @include s.d-flex($direction: column, $justify: center, $align: center);

    padding: 5px 5px 10px 5px;
  }
}
.flatpickr-calendar {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #e2e2e2 !important;
  border-radius: 10px !important;
  width: 258px !important;
}
.flatpickr-calendar .flatpickr-days {
  width: 258px !important;
}
.flatpickr-calendar .dayContainer {
  min-width: none !important;
  max-width: none !important;
  width: 100%;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
}
/* Загальний вигляд клітинки */
.flatpickr-calendar .flatpickr-day {
  width: auto !important;
  background: #fff;
  color: s.$color__text;
  border: 1px solid #e2e2e2;
  transition: 0.2s ease;
}

/* Disabled дні */
.flatpickr-calendar .flatpickr-day.disabled,
.flatpickr-calendar .flatpickr-day.flatpickr-disabled {
  background: #f1f1f1;
  color: #999;
  cursor: not-allowed;
}

/* Hover тільки для активних */
.flatpickr-calendar .flatpickr-day:not(.disabled):hover {
  border-color: #f68521 !important;
}
.flatpickr-calendar .flatpickr-day.today:not(.selected) {
  border-bottom-color: #e9e9e9;
  &:hover {
    border-color: #f68521 !important;
    background: #f1f1f1 !important;
    color: s.$color__text !important;
  }
}
/* Вбиваємо стандартний flatpickr selected */
.flatpickr-calendar .flatpickr-day.startRange,
.flatpickr-calendar .flatpickr-day.endRange {
  background: transparent !important;
  box-shadow: none !important;
  color: inherit !important;
}

/* Наш кастомний selected */
.flatpickr-calendar .flatpickr-day.selected {
  background: #f68521;
  color: #fff;
  box-shadow: 0 3px 10px 0 rgba(247, 143, 31, 0.5);
  border-color: #f68521;

  &:hover {
    background: #f68521;
    color: #fff;
    box-shadow: 0 3px 10px 0 rgba(247, 143, 31, 0.5);
    border-color: #f68521;
  }
}
