@use "../basic/globals.scss" as s;

.register {
    position: relative;
    &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  // background-image: url(../../img/backgraund-mob.webp);
  // background-repeat: no-repeat;
  // background-position: center top;
  // background-size: cover;
  max-width: 1920px;
  height: 812px;
  padding: 127px 0 108px;
  @media (min-width: s.$media_1366) {
    // background-image: url(../../img/backgraund-big.webp);
    height: 800px;
    padding: 120px 0 107px;
  }

  &__form-wrapper {
    height: 593px;
  }

  &__form-input {
    margin-bottom: 15px;
  }

  .is-error {
    border-color: #ff3b30;
  }

  .login__error {
    color: #ff3b30;
    font-size: 16px;
    margin-top: 4px;
  }
}
